
<div class="container">
<h1>Tables#show</h1>

<b>Firstname:   </b><%= @table.firstname%><br>
<b>Lastname:   </b><%= @table.lastname%><br>
<b>Date of birth:   </b><%= @table.date_of_birth%><br>
<b>Presence:   </b><%= @table.presence%><br>
<b>Description:   </b><%= @table.description%><br><br>
<%= link_to 'Back', tables_path, class: "btn btn-primary"%>
</div>